[Unit]
Description=node exporter system info collector
Documentation=https://github.com/prometheus/node_exporter/blob/master/README.md
[Service]
Type=simple
ExecStart=/usr/sbin/node_exporter --collector.systemd --collector.logind
Restart=on-failure
User=nodeExporter
Group=nodeExporter
[Install]
WantedBy=multi-user.target